@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #202020;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 4rem;
    flex-direction: row;
}
header ul{    
    position: relative;
    top: 0.6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 1rem;
    font-weight: 600;
    list-style: none;
}
header ul li{
    padding: 0.5rem 1rem;
}
.yellow-ab{
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    height: 30rem;  
}